body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f2ed;
    color: #4c3030;
}

.add-product-div {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: #faf4f0; /* light cream background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

form {
    display: grid;
    gap: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #b08686; /* muted wine-inspired border color */
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #704646; /* darker wine color on focus */
    outline: none;
}

input[type="text"]::placeholder {
    color: #b08686;
}

button {
    cursor: pointer;
    background-color: #704646; /* muted wine color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #593535; /* darker wine color on hover */
}

.centered-div {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin: 0;
}
